*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
__pycache__
.cache/
.idea/
.ipynb_checkpoints/
*.sublime*
*.pyc
*.orig
planner/eval/cache/
.pytest_cache/
venv/
.vscode

logs/
cache/
.coverage
.mypy_cache

# sphinx build folder
docs/sphinx/build

# caches
.scenario_cache/*.pkl
multi_optim/results/*_data/*.pkl
multi_optim/results/tuning/*_data/*.pkl

# of ecbs ..
tmp_jobs.csv
htmlcov/
miriam_env/
planner/policylearn/data/

# pytorch datasets
learn/pytorch/data/

# all wandb files
wandb/
roadmaps/multiple/__init__.py
roadmaps/multiple/spars.py
roadmaps/multiple/ctrm/.dockerignore
roadmaps/multiple/ctrm/.flake8
roadmaps/multiple/ctrm/.gitattributes
roadmaps/multiple/ctrm/.gitignore
roadmaps/multiple/ctrm/docker-compose.yml
roadmaps/multiple/ctrm/Dockerfile
roadmaps/multiple/ctrm/LICENSE
roadmaps/multiple/ctrm/mypy.ini
roadmaps/multiple/ctrm/pyproject.toml
roadmaps/multiple/ctrm/README.md
roadmaps/multiple/ctrm/setup.py
roadmaps/multiple/ctrm/assets/demo_reduced.gif
roadmaps/multiple/ctrm/assets/demo.gif
roadmaps/multiple/ctrm/assets/outline.png
roadmaps/multiple/ctrm/assets/solution-example.gif
roadmaps/multiple/ctrm/assets/training_data_sample.jpg
roadmaps/multiple/ctrm/cpp_helper/cost_to_go_wrapper/CMakeLists.txt
roadmaps/multiple/ctrm/cpp_helper/cost_to_go_wrapper/setup.py
roadmaps/multiple/ctrm/cpp_helper/cost_to_go_wrapper/src/cost_to_go.cpp
roadmaps/multiple/ctrm/cpp_helper/spars_wrapper/CMakeLists.txt
roadmaps/multiple/ctrm/cpp_helper/spars_wrapper/setup.py
roadmaps/multiple/ctrm/cpp_helper/spars_wrapper/src/spars.cpp
roadmaps/multiple/ctrm/cpp_helper/sphere_collision_check_wrapper/CMakeLists.txt
roadmaps/multiple/ctrm/cpp_helper/sphere_collision_check_wrapper/setup.py
roadmaps/multiple/ctrm/cpp_helper/sphere_collision_check_wrapper/src/collision_check.cpp
roadmaps/multiple/ctrm/docs/.gitignore
roadmaps/multiple/ctrm/docs/conf.py
roadmaps/multiple/ctrm/docs/ctrm.environment.fcl_utils.rst
roadmaps/multiple/ctrm/docs/ctrm.environment.instance.rst
roadmaps/multiple/ctrm/docs/ctrm.environment.obstacle.rst
roadmaps/multiple/ctrm/docs/ctrm.environment.rst
roadmaps/multiple/ctrm/docs/ctrm.environment.static_objects.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.batch_gen.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.compiled.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.dataset.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.formats.base.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.formats.format_input.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.formats.format_output.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.formats.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.formats.utils.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.fov.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.model.agent_encoder.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.model.cvae.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.model.fov_encoder.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.model.model.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.model.net.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.model.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.rst
roadmaps/multiple/ctrm/docs/ctrm.learning.utils.rst
roadmaps/multiple/ctrm/docs/ctrm.planner.cbs.rst
roadmaps/multiple/ctrm/docs/ctrm.planner.planner.rst
roadmaps/multiple/ctrm/docs/ctrm.planner.prioritized_planning.rst
roadmaps/multiple/ctrm/docs/ctrm.planner.result.rst
roadmaps/multiple/ctrm/docs/ctrm.planner.rst
roadmaps/multiple/ctrm/docs/ctrm.planner.utils.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap_learned.learned_sampler.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap_learned.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap_learned.utils.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap.grid_sampler.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap.random_sampler.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap.spars_sampler.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap.timed_roadmap.rst
roadmaps/multiple/ctrm/docs/ctrm.roadmap.utils.rst
roadmaps/multiple/ctrm/docs/ctrm.rst
roadmaps/multiple/ctrm/docs/ctrm.utils.rst
roadmaps/multiple/ctrm/docs/ctrm.viz.rst
roadmaps/multiple/ctrm/docs/index.rst
roadmaps/multiple/ctrm/docs/make.bat
roadmaps/multiple/ctrm/docs/Makefile
roadmaps/multiple/ctrm/docs/modules.rst
roadmaps/multiple/ctrm/notebooks/CTRM_demo_ins.pkl
roadmaps/multiple/ctrm/notebooks/CTRM_demo.ipynb
roadmaps/multiple/ctrm/notebooks/Figure 4.ipynb
roadmaps/multiple/ctrm/notebooks/Figure 4mod.ipynb
roadmaps/multiple/ctrm/notebooks/Figure 5.ipynb
roadmaps/multiple/ctrm/notebooks/gif.ipynb
roadmaps/multiple/ctrm/notebooks/MAPP_demo.ipynb
roadmaps/multiple/ctrm/notebooks/Table 1.ipynb
roadmaps/multiple/ctrm/notebooks/fig/roadmap_ctrm.pdf
roadmaps/multiple/ctrm/notebooks/fig/roadmap_grid.pdf
roadmaps/multiple/ctrm/notebooks/fig/roadmap_random.pdf
roadmaps/multiple/ctrm/notebooks/fig/roadmap_rect.pdf
roadmaps/multiple/ctrm/notebooks/fig/roadmap_spars.pdf
roadmaps/multiple/ctrm/scripts/.gitignore
roadmaps/multiple/ctrm/scripts/benchmark_gen.py
roadmaps/multiple/ctrm/scripts/create_data.py
roadmaps/multiple/ctrm/scripts/eval.py
roadmaps/multiple/ctrm/scripts/train.py
roadmaps/multiple/ctrm/scripts/conf/benchmark_gen/benchmark_hetero.yaml
roadmaps/multiple/ctrm/scripts/conf/benchmark_gen/config.yaml
roadmaps/multiple/ctrm/scripts/conf/benchmark_gen/instance
roadmaps/multiple/ctrm/scripts/conf/data_gen/config.yaml
roadmaps/multiple/ctrm/scripts/conf/data_gen/learn_hetero.yaml
roadmaps/multiple/ctrm/scripts/conf/data_gen/planner/cbs.yaml
roadmaps/multiple/ctrm/scripts/conf/data_gen/planner/pp.yaml
roadmaps/multiple/ctrm/scripts/conf/data_gen/roadmap/ctrm.yaml
roadmaps/multiple/ctrm/scripts/conf/data_gen/roadmap/grid.yaml
roadmaps/multiple/ctrm/scripts/conf/data_gen/roadmap/random.yaml
roadmaps/multiple/ctrm/scripts/conf/data_gen/roadmap/rect.yaml
roadmaps/multiple/ctrm/scripts/conf/data_gen/roadmap/spars.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/config.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_ctrm_ablation_learned_ind.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_large_ctrm_learned_ind.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_large_grid_hetero.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_large_grid.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_large_random_hetero.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_large_random.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_large_rect.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_large_spars_hetero.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/eval_large_spars.yaml
roadmaps/multiple/ctrm/scripts/conf/eval/planner
roadmaps/multiple/ctrm/scripts/conf/eval/roadmap
roadmaps/multiple/ctrm/scripts/conf/train/config.yaml
roadmaps/multiple/ctrm/scripts/conf/train/format_input/ctrm.yaml
roadmaps/multiple/ctrm/scripts/conf/train/format_input/goalvec.yaml
roadmaps/multiple/ctrm/scripts/conf/train/format_output/ctrm.yaml
roadmaps/multiple/ctrm/scripts/conf/train/format_output/nextvec.yaml
roadmaps/multiple/ctrm/scripts/conf/train/model/ctrm.yaml
roadmaps/multiple/ctrm/scripts/exp_scripts/benchmark_gen_hetero.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/data_gen_hetero.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/eval_ctrm_ablation_learned_ind.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/eval_ctrm_large_learned_ind.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/eval_grid_large.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/eval_random_large.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/eval_rect_large.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/eval_spars_large.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/learn_hetero_wo_comm.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/learn_hetero_wo_indicator.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/learn_hetero.sh
roadmaps/multiple/ctrm/scripts/exp_scripts/learn_large.sh
roadmaps/multiple/ctrm/src/ctrm/__init__.py
roadmaps/multiple/ctrm/src/ctrm/logconf.json
roadmaps/multiple/ctrm/src/ctrm/py.typed
roadmaps/multiple/ctrm/src/ctrm/utils.py
roadmaps/multiple/ctrm/src/ctrm/viz.py
roadmaps/multiple/ctrm/src/ctrm/environment/__init__.py
roadmaps/multiple/ctrm/src/ctrm/environment/fcl_utils.py
roadmaps/multiple/ctrm/src/ctrm/environment/instance.py
roadmaps/multiple/ctrm/src/ctrm/environment/obstacle.py
roadmaps/multiple/ctrm/src/ctrm/environment/static_objects.py
roadmaps/multiple/ctrm/src/ctrm/learning/__init__.py
roadmaps/multiple/ctrm/src/ctrm/learning/batch_gen.py
roadmaps/multiple/ctrm/src/ctrm/learning/compiled.py
roadmaps/multiple/ctrm/src/ctrm/learning/dataset.py
roadmaps/multiple/ctrm/src/ctrm/learning/fov.py
roadmaps/multiple/ctrm/src/ctrm/learning/utils.py
roadmaps/multiple/ctrm/src/ctrm/learning/formats/__init__.py
roadmaps/multiple/ctrm/src/ctrm/learning/formats/base.py
roadmaps/multiple/ctrm/src/ctrm/learning/formats/format_input.py
roadmaps/multiple/ctrm/src/ctrm/learning/formats/format_output.py
roadmaps/multiple/ctrm/src/ctrm/learning/formats/utils.py
roadmaps/multiple/ctrm/src/ctrm/learning/model/__init__.py
roadmaps/multiple/ctrm/src/ctrm/learning/model/agent_encoder.py
roadmaps/multiple/ctrm/src/ctrm/learning/model/cvae.py
roadmaps/multiple/ctrm/src/ctrm/learning/model/fov_encoder.py
roadmaps/multiple/ctrm/src/ctrm/learning/model/model.py
roadmaps/multiple/ctrm/src/ctrm/learning/model/net.py
roadmaps/multiple/ctrm/src/ctrm/planner/__init__.py
roadmaps/multiple/ctrm/src/ctrm/planner/cbs.py
roadmaps/multiple/ctrm/src/ctrm/planner/planner.py
roadmaps/multiple/ctrm/src/ctrm/planner/prioritized_planning.py
roadmaps/multiple/ctrm/src/ctrm/planner/result.py
roadmaps/multiple/ctrm/src/ctrm/planner/utils.py
roadmaps/multiple/ctrm/src/ctrm/roadmap/__init__.py
roadmaps/multiple/ctrm/src/ctrm/roadmap/grid_sampler.py
roadmaps/multiple/ctrm/src/ctrm/roadmap/random_sampler.py
roadmaps/multiple/ctrm/src/ctrm/roadmap/spars_sampler.py
roadmaps/multiple/ctrm/src/ctrm/roadmap/timed_roadmap.py
roadmaps/multiple/ctrm/src/ctrm/roadmap/utils.py
roadmaps/multiple/ctrm/src/ctrm/roadmap_learned/__init__.py
roadmaps/multiple/ctrm/src/ctrm/roadmap_learned/learned_sampler.py
roadmaps/multiple/ctrm/src/ctrm/roadmap_learned/utils.py
roadmaps/multiple/ctrm/tests/__init__.py
roadmaps/multiple/ctrm/tests/.gitignore
roadmaps/multiple/ctrm/tests/conftest.py
roadmaps/multiple/ctrm/tests/README.md
roadmaps/multiple/ctrm/tests/test_viz.py
roadmaps/multiple/ctrm/tests/cpp_wrappers/test_spars_wrapper.py
roadmaps/multiple/ctrm/tests/environment/test_fcl_utils.py
roadmaps/multiple/ctrm/tests/environment/test_instance.py
roadmaps/multiple/ctrm/tests/environment/test_static_objects.py
roadmaps/multiple/ctrm/tests/learning/test_dataset.py
roadmaps/multiple/ctrm/tests/learning/test_fov.py
roadmaps/multiple/ctrm/tests/planner/test_cbs.py
roadmaps/multiple/ctrm/tests/planner/test_planner.py
roadmaps/multiple/ctrm/tests/planner/test_prioritized_planning.py
roadmaps/multiple/ctrm/tests/planner/test_spars_prioritized_planning.py
roadmaps/multiple/ctrm/tests/planner/test_timeout.py
roadmaps/multiple/ctrm/tests/roadmap/test_grid_sampler.py
roadmaps/multiple/ctrm/tests/roadmap/test_random_sampler.py
roadmaps/multiple/ctrm/tests/roadmap/test_spars_sampler.py
roadmaps/multiple/ctrm/tests/roadmap/test_timed_roadmap.py
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_agent_encoder.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_agent_encoder.pt
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_format_input.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_format_output.Pl
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_fov_encoder_self.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_fov_encoder_self.pt
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_fov_encoder_vain.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_fov_encoder_vain.pt
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_model_hypra.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/best_model.pt
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_agent_encoder.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_agent_encoder.pt
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_format_input.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_format_output.Pl
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_fov_encoder_self.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_fov_encoder_self.pt
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_fov_encoder_vain.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_fov_encoder_vain.pt
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_model_hypra.pkl
roadmaps/multiple/ctrm/trained_models/aamas22-main/final_model.pt
roadmaps/multiple/ctrm/trained_models/aamas22-main/test_loss.npy
roadmaps/multiple/ctrm/trained_models/aamas22-main/.hydra/config.yaml
roadmaps/multiple/ctrm/trained_models/aamas22-main/.hydra/hydra.yaml
roadmaps/multiple/ctrm/trained_models/aamas22-main/.hydra/overrides.yaml
roadmaps/multiple/ctrm/trained_models/aamas22-main/tb/events.out.tfevents.1635165201.b679ddbab9ed.2868.0
