[submodule "elemel_python-astar"]
	path = astar/elemel_python-astar
	url = https://github.com/ct2034/python-astar.git
[submodule "planner/matteoantoniazzi-mapf/external"]
	path = planner/matteoantoniazzi_mapf/external
	url = https://github.com/MatteoAntoniazzi/MAPF.git
[submodule "planner/cobra/external"]
	path = planner/cobra/external
	url = https://github.com/ct2034/cobra.git
[submodule "roadmaps/SPARS/lodepng"]
	path = roadmaps/SPARS/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "planner/mapf_implementations/libMultiRobotPlanning"]
	path = planner/mapf_implementations/libMultiRobotPlanning
	url = https://github.com/ct2034/libMultiRobotPlanning.git
[submodule "planner/primal2/PRIMAL2"]
	path = planner/primal2/PRIMAL2
	url = https://github.com/marmotlab/PRIMAL2.git
[submodule "planner/dhc/DHC"]
	path = planner/dhc/DHC
	url = https://github.com/ct2034/DHC.git
[submodule "planner/bvc/mr-nav-stack"]
	path = planner/bvc/mr-nav-stack
	url = git@github.com:ct2034/mr-nav-stack.git
