*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
__pycache__
.cache/
.idea/
.ipynb_checkpoints/
*.sublime*
*.pyc
*.orig
planner/eval/cache/
.pytest_cache/
venv/
.vscode

logs/
cache/
.coverage
.mypy_cache

# sphinx build folder
docs/sphinx/build

# caches
.scenario_cache/*.pkl
scenarios/.scenario_cache/*.pkl
multi_optim/results/*_data/*.pkl
multi_optim/results/tuning/*_data/*.pkl

# of ecbs ..
tmp_jobs.csv
htmlcov/
miriam_env/
planner/policylearn/data/

# pytorch datasets
learn/pytorch/data/

# all wandb files
wandb/

# build folder for gsorm
roadmaps/gsorm/build/*
# but include the binary and images
!roadmaps/gsorm/build/gsorm
!roadmaps/gsorm/build/*.png
roadmaps/benchmark_examples/
roadmaps/benchmark_plots/benchmark.png
roadmaps/benchmark_plots/benchmark_*.png

# build folder for cvt
roadmaps/cvt/build/*
path_save.pkl
