APScheduler
bintrees
cachier
cherrypy
coloredlogs
flask
gitpython
iso8601
matplotlib
munkres
mypy
networkx
numpy
psutil
pycodestyle
git+https://github.com/scottgs/pyflann.git@1e06ec23ea99385920ad3554cf06451ce44cf442
PyMC3
pymongo
pyomo==5.2
pypng
pytest
pytest-cov
scipy
timeout-decorator
unittest2
ws4py
