APScheduler
bintrees
cherrypy
flask
gitpython
iso8601
matplotlib
munkres
numpy
psutil
git+https://github.com/scottgs/pyflann.git@1e06ec23ea99385920ad3554cf06451ce44cf442
pymongo
pyomo==5.2
pypng
pytest
scipy
unittest2
ws4py
