<launch>
  <arg name="n_agents" default="8" />

  <node name="stageros" pkg="stage_ros" type="stageros" args="$(find adamsmap_stage)/world/demo_$(arg n_agents)agents.world" />

  <node name="tf_publisher" pkg="adamsmap_stage" type="tf_publisher.py">
    <param name="n_agents" value="$(arg n_agents)" />
  </node>
</launch>
