coverage
matplotlib
networkx
numpy
pycodestyle
pytest-cov
pytest-pycodestyle
timeout_decorator
# tensorflow==2.4.0  # https://stackoverflow.com/questions/61137954/attributeerror-module-tensorflow-python-keras-utils-generic-utils-has-no-attr
